.client-circle {
  height: 200px;
  width: 200px;
  background-color: blue;
  border-radius: 50%;
  float: left;
}

.circle-group-one {

}

.circle-company {
  visibility: hidden;
}

.descrip-company-one, .descrip-company-two, .descrip-company-three, .descrip-company-four, .descrip-company-five, .descrip-company-six {
  visibility: hidden;
}

.descrip-company {
  color: black;
}



.client-circle:hover {
  background-color: red;

  .circle-company{
  visibility: visible;
  }
}


